.palette--main,
.palette--history-list {
  display: flex;
}
.palette--main {
  width: 100%;
  flex: 1;
}

.palette--history-list {
  width: 100%;
  height: 100%;
}

.palette--history-list__container {
  padding: .25rem;
  float: right;
  width: 18%;
  margin-right: 2%;
  height: 60%;
}
