.swatch {
  flex: 1;
  float: left;
  position: relative;
  cursor: pointer;
}

.swatch-info {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  opacity: 0.6;
  font-weight: 700;
}
