doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta()
        title Page Title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta()
        title Page Title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")

        link(rel="stylesheet" href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        #example-page
            .bg-primary.p-t-3.p-b-3.m-b-3
                .container
                    .row.text-xs-center
                        h2.m-b-3 Example Page
                        button( type="button" class="btn btn-secondary") Close
            .container
                .row
                    p Proident tenderloin est, dolore fatback drumstick ribeye pancetta incididunt in filet mignon labore non. Leberkas sed cupim, turkey ipsum sirloin irure enim esse shankle aute ham hock landjaeger. Hamburger dolore velit, fatback chuck doner occaecat. Pig leberkas short ribs jowl flank filet mignon swine. 
                        a(href="#") Proident cow 
                        sausage frankfurter turkey.

                    p In elit duis occaecat 
                        a(href="#") short loin
                    |. Leberkas sed cupim, turkey ipsum sirloin irure enim esse shankle aute ham hock landjaeger.
        header.navbar.navbar-full.navbar-dark.navbar-fixed-top
            .container
                a.navbar-brand( href="#" ) Palette Generator
                .collapse.navbar-toggleable-xs( id=id )
                  ul.nav.navbar-nav
                    li.nav-item
                      a.nav-link( href="#") See your palette on an example site
                      button.btn.btn-primary#random-palette( type="submit") Random Palette  
                  form.form-inline.pull-xs-right
                    input.form-control( type="text" placeholder="search")
                    button.btn.btn-primary( type="submit") Search               
        main
            #primary.palette
                h2 Primary
            #accent.palette
                h2 Accent
            #gray-light.palette
                h2 Light Gray
            #body.palette
                h2 Tone
            #gray-dark.palette
                h2 Dark Gray
        script(src="js/main.js")