doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta()
        title Page Title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta()
        title Page Title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")

        link(rel="stylesheet" href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        #example-page.background-gray-light
            .background-primary.p-t-3.p-b-10.m-b-3
                .container
                    .row.text-xs-center
                        h2.m-b-3.m-t-3.display-2.color-primary-tone Example Page
                        button.m-b-3.m-t-3.m-r-1.example-toggle.btn-rounded.btn.btn-secondary( type="button") Close
                        button.btn-rounded.btn.button-accent.color-accent-tone.m-b-3.m-t-3.random-palette( type="button") New Palette                     
            .container
                .row.display-lg-flex.hidden.m-t-minus-11
                    .col-lg-4.display-lg-flex
                        .card.text-xs-center.color-gray-dark
                            .card-block
                                h4.card-title.m-b-1 Lightweight
                                i.fa.fa-cloud.fa-5x.fa-fixed.block.m-b-2         
                                p.card-text As many styles as needed and no more. This is a lightweight theme.
                    .col-lg-4.display-lg-flex
                        .card.text-xs-center.color-gray-dark
                            .card-block
                                h4.card-title.m-b-1 Customizable
                                i.fa.fa-wrench.fa-5x.fa-fixed.block.m-b-2          
                                p.card-text Written in SCSS using Bootstrap mixins. It's easy to customize the source code.

                    .col-lg-4.display-lg-flex
                        .card.text-xs-center.color-gray-dark
                            .card-block
                                h4.card-title.m-b-1 Free
                                i.fa.fa-money.fa-5x.fa-fixed.block.m-b-2 
                                p.card-text Free-fallin', free as a bird, free as in beer. Land of the free. It's free.                

        header.navbar.navbar-full.navbar-dark.navbar-fixed-top
            .container
                a.navbar-brand( href="#" ) Palette Generator
                .collapse.navbar-toggleable-xs( id=id )
                  ul.nav.navbar-nav
                    li.nav-item
                      a.nav-link.example-toggle( href="#") See your palette on an example site
                       
                form.form-inline.pull-xs-right
                    input.form-control( type="text" placeholder="enter color")
                    button.btn.btn-primary( type="submit") Create Palette               
                button.btn.btn-danger.random-palette.pull-xs-right.m-r-1( type="submit") Random Palette 
        main
            #primary.palette
                h3#primary__hex
            #accent.palette
                h3#accent__hex
            #gray-light.palette
                h3#gray-light__hex
            #body.palette
            #gray-dark.palette
                h3#gray-dark__hex
        script(src="js/main.js")