// reset default buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button {
  line-height: 40px;
  height: 40px;
  margin-bottom: 1.5em;
  background-color: $body-color;
  color: $body-bg;
  border: 0;
  border: 1px solid $border-color;
  border-radius: $form-border-radius;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: $body-bg;
    color: $body-color;
  }
}