/**
 *  MAIN RULES
 */

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $body-bg;
  font-weight: normal;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

p {
  font-weight: normal;
}

img {
  max-width: 100%;
}