// Color
//

$body-bg: #fff;
$body-color: #333;

$form-bg-color: $body-bg;
$form-text-color: $body-color;

$border-color: $body-color;

//Forms
//

$form-border-radius: 3px;

// Typography
//

$basefont: 'Lato', sans-serif;

$font-size-base:        18px;

$line-height-base:      1.5em;
$font-weight-base:      400;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12;
$grid-gutter-width-base:     30px;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
);
